{% extends 'base.html' %}
{% block content %}
{% load django_bootstrap5 %}
{% if messages %}
<div class="alert alert-danger my-3" role="alert">
    {% for message in messages %}
    <strong>{{ message.tags }}</strong>
    <ul>
        <li>{{ message.message }}</li>
    </ul>
    {% endfor %}
</div>
{% endif %}


<div class="container">
    <h2>{{ review.title }}</h2>
    <h5>영화제목: {{ review.movie_name }}</h5>
    <h6>영화 평점: {{ review.grade }}</h6>
    <hr>
    <p>{{ review.content }}</p>
    <div class="d-flex justify-content-end">
        <span>작성자: {{ review.user.username }}</span>
    </div>
    <hr>
</div>
<div class="container">

    <div class="comments">
        {% if review.comments.length == 1 %}
        <div>
            아직 댓글이 없습니다.
        </div>
        {% else %}
        {% for comment in review.comments %}
        <div class="temp">
            {{ comment.user.username }}: {{ comment.content }}
        </div>

        <div class="comment-options">
            <div class="comment_options d-flex justify-content-end">
                {% if request.user.username == comment.user.username %}
                <div class="mx-1">
                    <a class="comment_update " href="{% url 'reviews:comment_update' review.id comment.id %}">
                        {% bootstrap_button button_type="submit" content="댓글수정" %}
                    </a>
                </div>
                <div class="">
                    <a class="comment_delete" href="{% url 'reviews:comment_delete' review.id comment.id %}"
                        onclick="return confirm('정말 삭제하시겠습니까?')">
                        {% bootstrap_button button_type="submit" content="댓글삭제" %}
                    </a>
                </div>

            </div>
            {% endif %}
        </div>

    </div>
    {% endfor %}

    {% endif %}

</div>

</div>
</div>



</div>
<div class="mx-1">
    <div class="container">
        <form id="comment_form" data-review-id="{{ review.id }}">
            {% csrf_token%}

            {% bootstrap_form comment_form %}
            {% bootstrap_button button_type="submit" content="댓글작성" %}
        </form>
    </div>
</div>
{% if request.user.username == review.user.username %}

<div class="d-flex justify-content-end">
    <a href="{% url 'reviews:review_update' review.id %}" class="me-1">
        {% bootstrap_button button_type="submit" content="리뷰수정" %}
    </a>
    <a href="{% url 'reviews:review_delete' review.id %}" class="me-1" onclick="return confirm('정말 삭제하시겠습니까?')">
        {% bootstrap_button button_type="submit" content="리뷰삭제" %}
    </a>
    <a href="/">
        {% bootstrap_button button_type="submit" content="게시판" %}
    </a>

</div>
{% else %}
<div class="d-flex justify-content-end"><a href=" /">
        {% bootstrap_button button_type="submit" content="게시판" %}
    </a>
</div>
{% endif %}
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const commentForm = document.querySelector('#comment_form')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

    commentForm.addEventListener('submit', function (event) {
        event.preventDefault();

        axios(
            {
                method: 'POST',
                url: `/reviews/${event.target.dataset.reviewId}/comments/`,
                headers: { 'X-CSRFToken': csrftoken },
                data: new FormData(commentForm)
            }
        )
            .then(response => {
                const comments = document.querySelector(".comments")

                const div = document.createElement('div')
                div.innerText = `${response.data.user.username}: ${response.data.content}`

                comments.append(div)
                commentForm.reset()
            })




    })
</script>
{% endblock %}