{% extends 'base.html' %}
{% block content %}
{% load django_bootstrap5 %}
<div class="container">
    <table class="table text-center">
        <thead>
            <tr>
                <th scope="col">pk</th>
                <th scope="col">아이디</th>
                <th scope="col">이름</th>
                <th scope="col">이메일</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user.pk }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.last_name }}{{ user.first_name }}</td>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>
    <div class="control_hidden">
        <div class="d-flex flex-row-reverse">
            <div class="mx-1">
                <a href="{% url 'accounts:delete' %}" onclick="return confirm('정말 탈퇴하시겠습니까?')">
                    {% bootstrap_button button_type="submit" content="탈퇴" %}
                </a>
            </div>
            <div class="mx-1">
                <a href="{% url 'accounts:change_password'%}">
                    {% bootstrap_button button_type="submit" content="비밀번호 변경" %}
                </a>
            </div>
            <div div class="mx-1">
                <a href="{% url 'accounts:update' user.pk %}">
                    {% bootstrap_button button_type="submit" content="정보수정" %}
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock%}