{% extends 'base.html' %}

{% block content %}
<table class="table text-center">

    <thead>
        <tr>
            <th scope="col">pk</th>
            <th scope="col">회원이름</th>
            <th class="text-center" scope="col">회원 이메일</th>

        </tr>
    </thead>
    <tbody>

        <tr>
            <td>{{ user.pk }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
        </tr>

    </tbody>
</table>
<div class="d-flex flex-row-reverse mx-2">
    <a href="/"><button type="button" class="btn btn-primary mx-2">홈</button></a>
    <a href="{% url 'accounts:profile_update' user.pk %}"><button type="button" class="btn btn-primary">수정</button></a>
</div>
{% endblock %}