{% extends 'base.html' %}
{% block content %}
{% load django_bootstrap5 %}
<div class="container">
    <h2>{{ request.user }}님의 작성한 리뷰</h2>
    <table class="table text-center">
        <thead>
            <tr>
                <th scope="col">pk</th>
                <th scope="col">게시글</th>
                <th scope="col">영화제목</th>

            </tr>
        </thead>
        <tbody>
            {% if user.reviews.all %}
            {% for review in user.reviews.all %}
            <tr>
                <td>{{ review.pk }}</td>
                <td><a href="{% url 'reviews:review_detail' review.pk %}">{{ review.title }}</a></td>
                <td>{{ review.movie_name }}</td>
            </tr>
            {% endfor%}
            {% else %}
            <tr>
                <td></td>
                <td>아직 작성한 리뷰가 없습니다.</td>
                <td></td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
<div class="container mt-5">
    <h2>{{ request.user }}님의 작성한 댓글</h2>
    <table class="table text-center">
        <thead>
            <tr>
                <th scope="col">댓글</th>
                <th scope="col">댓글작성한 리뷰</th>
            </tr>
        </thead>
        <tbody>
            {% if user.comments.all %}
            {% for comment in user.comments.all %}
            <tr>
                <td>{{ comment.content }}</a></td>
                <td><a href="{% url 'reviews:review_detail' comment.review.pk %}">{{ comment.review.title }}</a></td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td>아직 작성한 댓글이 없습니다.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <div class="d-flex justify-content-end mt-5">
        {% if request.user == user %}
        <a href="{% url 'accounts:user_update' user.pk  %}" class="mx-1">
            {% bootstrap_button button_type="submit" content="회원정보수정" %}
        </a>
        <a href="{% url 'accounts:password_change' user.pk  %}" class="me-1">
            {% bootstrap_button button_type="submit" content="비밀번호변경" %}
        </a>
        <a href="{% url 'accounts:delete' user.pk  %}" class="me-1" onclick="return confirm('정말 탈퇴하시겠습니까?')">
            {% bootstrap_button button_type="submit" content="회원탈퇴" %}
        </a>
        {% endif %}
        <a href="{% url 'reviews:index' %}">
            {% bootstrap_button button_type="submit" content="게시판" %}
        </a>
    </div>


</div>

{% endblock %}