{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="container d-flex flex-column align-items-center my-3">
    <div class="card mt-5">
        <div class="card-body">
            <div>
                <h3 class="card-title">{{ movie.title }}</h3><span>{{ movie.running_time }}분</span>
            </div>
            <p class="card-text mt-5">{{ movie.summary }}</p>
        </div>
    </div>
    <div class="buttons d-flex flex-row-reverse mt-2">
        <a href="{% url 'articles:delete' movie.pk %}" class="btn btn-primary mx-1">삭제</a>
        <a href="{% url 'articles:update' movie.pk %}" class="btn btn-primary">수정</a>
    </div>
</div>
{% endblock %}