{% extends 'base.html' %}
{% block content %}
{% load django_bootstrap5 %}

<div class="container">
    <table class="table text-center">
        <thead>
            <tr>
                <th scope="col">pk</th>
                <th scope="col">아이디</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.pk }}</td>
                {% if user.username == request.user.username %}
                <td><a href="{% url 'accounts:detail' user.pk %}">{{ user.username }}</a></td>
                {% else %}
                <td>{{ user.username }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="d-flex flex-start-end">
        <form action="{% url 'accounts:search' %}" class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="아이디를 입력하세요" aria-label="Search" name="검색어">
            <button class="btn btn-primary" type="submit" style="width: 6rem;">검색</button>
        </form>
    </div>

</div>



{% endblock %}